  h1{
      font-family: sans-serif;
      font-size: 3em;
      text-align-last: center;
      font-style: oblique;
      color: darkcyan;
  } 
  p{
      font-weight: 600;
      font-style: italic;
      font-size: 30px;
      line-height:normal;
      text-align: center;   
      color: rgb(80, 239, 245);   
  }
 
  ul li:nth-of-type(1){
      color: rgb(218, 241, 4);
      font-size: 20px;
      font-style: oblique;
      text-decoration-style: none;
      margin-left: 400px;
      }
  ul li:nth-of-type(2){
    color: rgb(243, 31, 31);
    font-size: 20px;
    font-style: oblique;
    text-decoration-style: none;
    margin-left: 400px;
    }
  ul li:nth-of-type(3){
    color: rgb(99, 51, 12);
    font-size: 20px;
    font-style: oblique;
    text-decoration-style: none;
    margin-left: 400px;
    }
  }
  <!-- Exercícios
- Modifique o família do h1 para sans-serif
- Deixe o parágrafo com o font-weight 600
- Modifique o font-size do body para 16px
- Coloque o tamanho do parágrafo com o tamanho de 3 vezes o padrão do body
- Explore as propriedades font-style, line-height, text-align e text-decoration
- Troque a cor de fundo de cada item da lista para a cor correspondente ao texto
   -->